body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-page {
  margin: 2rem auto;
  padding: 1rem;
  width: 70%;
  background-color: #ccc;
}

.dark {
  background-color: #fff;
  filter: invert(1);
}
